a{
    text-decoration: none;
    color: white;
}
.header1{
	background-color: #71ad19;
}
label > input{ 
  display:none;
}
label > input + img{
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{
  border: 2px solid grey;
  border-radius: 20px;
  background: url("cirle.png");
  background-repeat: no-repeat;
  background-position: center; 
}

#button{
	width: 130px;
	margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
}
#h2{
    border-bottom: solid 2px #558213;
    height: 88px;
    background-color: #558213;
} 
#reward{
    margin-top: 21px;
    border: solid 1px #558213;
    border-radius: 15px;
    width: 32%;
    margin-left: 5px;
    float: left;
    background-color: #558213;
    height: 360px;
} 
.wrapper{
    overflow:hidden; 
    margin-bottom:10px;
}
.pic{
    border: 1px solid black;
    margin: 0px 7px 5px 7px;
    height: 175px;
    border-radius: 15px;
    background-color: #e2ef16;
}
#buy{
    padding: 10px 30px 10px 30px;
    background-color: #263a09;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    text-transform: uppercase;
}
/* responsiveness */
@media screen and (min-width: 320px) and (max-width : 450px){
.wrapper {
    overflow: visible !important;
}
#reward {
    width: 48% !important;
}
}
@media screen and (min-width: 451px) and (max-width : 650px){
.wrapper {
    overflow: visible !important;
}
#reward {
    width: 50% !important;
    margin-left: 110px !important;
}
}
@media screen and (min-width: 651px) and (max-width : 800px){
#reward{
    width: 46%;
}
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert {
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-top: 10px;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert_text{
    border: 2px solid #bb2a2a;
    border-radius: 5px;
    color: #b72c2c;
    width: 39%;
    margin-left: 20px;
}

@media screen and (min-width: 310px) and (max-width : 900px){
.alert_text {
    width: 80% !important;
}
}

.header2{
    background-color: #0081d6;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: white;
    text-transform: uppercase;
    height: 55px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}
.header3{
    background-color: #71ad19;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: white;
    text-transform: uppercase;
    height: 55px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 70px;
}
.logo{
    height: 110px !important;
    float: right;
    margin-top: -99px;
    margin-right: 6px;
}
.pg{
    border-bottom: 2px solid #b9b9b9;
    border-left: 2px solid #b9b9b9;
    border-right: 2px solid #b9b9b9;
    margin-left: 50px;
    margin-right: 50px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    background: linear-gradient(to bottom, #f1f1f1, #e0e0e0);
}
.dollar{
    color: #63656a;
   /* margin: 30px;*/
    font-size: 139px;
    text-shadow: 2px 2px 4px black;
}
#button{
    width: 130px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
}
#img{
    margin-left:128px;
    margin-bottom:50px;
}
/* responsiveness*/
@media screen and (min-width: 991px) and (max-width : 1500px){
.dollar {
    font-size: 80px !important;
}
}
@media screen and (min-width: 800px) and (max-width : 990px){
.dollar {
    font-size: 90px !important;
    margin-left: 10px;
}
}
@media screen and (min-width: 700px) and (max-width : 799px){
.dollar {
    margin: 15px;
    font-size: 80px !important;
}
#heading2{
    font-size: 27px !important;
}
}
@media screen and (min-width: 500px) and (max-width : 699px){
#heading2{
    font-size: 26px !important;
}
.header2{
    margin-top: 50px;
}
#h1{    
    font-size: 20px !important;
    float: left !important;
    margin-left: 10px !important;
}
.logo {
    margin-top: -36px !important;
}
.dollar {
    font-size: 80px !important;
    margin-left: 40px !important;
}
#img{
    margin-bottom: 0px !important;
}
.w3-col.s6 {
    width: 100% !important;
}
}
@media screen and (min-width: 450px) and (max-width : 499px){
#heading2{
    font-size: 26px !important;
}
.header2{
    margin-top: 50px;
}
#h1{    
    font-size: 20px !important;
    float: left !important;
    margin-left: 10px !important;
}
.logo {
    margin-top: -36px !important;
}
.dollar {
    font-size: 80px !important;
    margin-left: 40px !important;
}
#img{
    margin-bottom: 0px !important;
}
.w3-col.s6 {
    width: 100% !important;
}
}
@media screen and (min-width: 300px) and (max-width : 449px){
.pg{
    width: 100%;
    margin-left: 0px !important;
}
#heading2{
    font-size: 26px !important;
}
.header2{
    margin-top: 50px;
    width: 100%;
    margin-left: 0px !important;
}
.header3{
    width: 100%;
    margin-left: 0px !important;
}
#h1{    
    font-size: 12px !important;
    float: left !important;
    margin-left: 10px !important;
    font-weight: bold;
}
.logo {
    margin-top: -36px !important;
}
.dollar {
    font-size: 60px !important;
    margin-left: 60px !important;
}
#img{
    margin-bottom: 0px !important;
    margin-left: 95px !important;
}
.w3-col.s6 {
    width: 100% !important;
}
}
#head2{
    border-bottom: solid 2px #558213;
    height: 88px;
    background-color: #558213;
} 

#i{
    padding-left: 10px;
}
#button{
    width: 130px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
}
#fun500{
    left: 755px;
    top: 178px;
    position: absolute;
    color: #cae528;
}
#pack1data{
    left: 525px;
    top: 250px;
    position: absolute;
    color: white;
    font-size: 20px;
    border-bottom: 2px solid #245685;
}
#pack1lower{
    left: 660px;
    top: 380px;
    position: absolute;
}
#fun1250{
    left: 755px;
    top: 605px;
    position: absolute;
    color: #cae528;
}
#pack2data{
    left: 525px;
    top: 675px;
    position: absolute;
    color: white;
    font-size: 20px;
    border-bottom: 2px solid #245685;
}
#pack2lower{
    left: 660px;
    top: 825px;
    position: absolute;
}
#fun2500{
    left: 755px;
    top: 1070px;
    position: absolute;
    color: #cae528;
}
#pack3data{
    left: 525px;
    top: 1135px;
    position: absolute;
    color: #949598;
    font-size: 20px;
    border-bottom: 2px solid #aeaeae;
}
#pack3lower{
    left: 660px;
    top: 1280px;
    position: absolute;
}
/* Responsiveness */
@media screen and (min-width: 1200px) and (max-width : 1400px){
#fun500 {
    left: 500px !important;
    top: 185px !important;
}
#fun1250 {
    left: 500px !important;
    top: 620px !important;
}
#fun2500 {
    left: 500px !important;
    top: 1075px !important;
}
#pack1data {
    left: 340px !important;
}
#pack2data {
    left: 340px !important;
    top: 700px !important;
}
#pack3data {
    left: 340px !important;
    top: 1160px !important;
}
#pack1lower {
    left: 600px !important;
    top: 390px !important;
}
#gm {
    font-size: 12px !important;
    font-weight: bold !important;
}
#pack2lower {
    left: 600px !important;
    top: 830px !important;
}
#pack3lower {
    left: 600px !important;
    top: 1290px !important;
}
}
@media screen and (min-width: 900px) and (max-width : 1025px){
#fun500 {
    left: 100px !important;
    top: 185px !important;
}
#fun1250 {
    left: 100px !important;
    top: 620px !important;
}
#fun2500 {
    left: 100px !important;
    top: 1075px !important;
}
#pack1data {
    left: 220px !important;
}
#pack2data {
    left: 220px !important;
    top: 700px !important;
}
#pack3data {
    left: 220px !important;
    top: 1160px !important;
}
#pack1lower {
    left: 465px !important;
    top: 390px !important;
}
#gm {
    font-size: 12px !important;
    font-weight: bold !important;
}
#pack2lower {
    left: 465px !important;
    top: 830px !important;
}
#pack3lower {
    left: 465px !important;
    top: 1290px !important;
}
}
@media screen and (min-width: 851px) and (max-width : 899px){
#fun500 {
    left: 100px !important;
    top: 165px !important;
}
#fun1250 {
    left: 100px !important;
    top: 570px !important;
}
#fun2500 {
    left: 100px !important;
    top: 975px !important;
}
#pack1data {
    left: 60px !important;
    top: 220px !important;
}
#pack2data {
    left: 50px !important;
    top: 625px !important;
}
#pack3data {
    left: 50px !important;
    top: 1030px !important;
}
#pack1lower {
    left: 300px !important;
    top: 360px !important;
}
#gm {
    font-size: 12px !important;
    font-weight: bold !important;
}
#pack2lower {
    left: 300px !important;
    top: 760px !important;
}
#pack3lower {
    left: 300px !important;
    top: 1160px !important;
}
}
@media screen and (min-width: 801px) and (max-width : 850px){
#fun500 {
    left: 100px !important;
    top: 165px !important;
}
#fun1250 {
    left: 100px !important;
    top: 545px !important;
}
#fun2500 {
    left: 100px !important;
    top: 935px !important;
}
#pack1data {
    left: 60px !important;
    top: 220px !important;
}
#pack2data {
    left: 50px !important;
    top: 580px !important;
}
#pack3data {
    left: 50px !important;
    top: 990px !important;
}
#pack1lower {
    left: 300px !important;
    top: 360px !important;
}
#gm {
    font-size: 12px !important;
    font-weight: bold !important;
}
#pack2lower {
    left: 300px !important;
    top: 700px !important;
}
#pack3lower {
    left: 300px !important;
    top: 1130px !important;
}
}
@media screen and (min-width: 701px) and (max-width : 800px){
#fun500 {
    left: 100px !important;
    top: 165px !important;
}
#fun1250 {
    left: 100px !important;
    top: 520px !important;
}
#fun2500 {
    left: 100px !important;
    top: 870px !important;
}
#pack1data {
    left: 60px !important;
    top: 220px !important;
}
#pack2data {
    left: 50px !important;
    top: 565px !important;
}
#pack3data {
    left: 50px !important;
    top: 925px !important;
}
#pack1lower {
    left: 300px !important;
    top: 360px !important;
}
#gm {
    font-size: 12px !important;
    font-weight: bold !important;
}
#pack2lower {
    left: 300px !important;
    top: 700px !important;
}
#pack3lower {
    left: 300px !important;
    top: 1050px !important;
}
}
@media screen and (min-width: 601px) and (max-width : 700px){
#fun500 {
    left: 100px !important;
    top: 145px !important;
}
#fun1250 {
    left: 100px !important;
    top: 435px !important;
}
#fun2500 {
    left: 100px !important;
    top: 727px !important;
}
#pack1data {
    left: 60px !important;
    top: 190px !important;
    font-size: 16px !important;
}
#pack2data {
    left: 50px !important;
    top: 480px !important;
    font-size: 16px !important;
}
#pack3data {
    left: 50px !important;
    top: 770px !important;
    font-size: 16px !important;
}
#pack1lower {
    left: 235px !important;
    top: 290px !important;
}
#gm {
    font-size: 12px !important;
    font-weight: bold !important;
}
#pack2lower {
    left: 240px !important;
    top: 576px !important;
}
#pack3lower {
    left: 240px !important;
    top: 870px !important;
}
}
@media screen and (min-width: 576px) and (max-width : 600px){
#fun500 {
    left: 100px !important;
    top: 145px !important;
}
#fun1250 {
    left: 100px !important;
    top: 400px !important;
}
#fun2500 {
    left: 100px !important;
    top: 675px !important;
}
#pack1data {
    left: 50px !important;
    top: 185px !important;
    font-size: 16px !important;
}
#pack2data {
    left: 40px !important;
    top: 440px !important;
    font-size: 16px !important;
}
#pack3data {
    left: 40px !important;
    top: 710px !important;
    font-size: 16px !important;
}
#pack1lower {
    left: 225px !important;
    top: 275px !important;
}
#gm {
    font-size: 12px !important;
    font-weight: bold !important;
}
#pack2lower {
    left: 225px !important;
    top: 530px !important;
}
#pack3lower {
    left: 221px !important;
    top: 800px !important;
}
}
@media screen and (min-width: 551px) and (max-width : 575px){
#fun500 {
    left: 100px !important;
    top: 145px !important;
}
#fun1250 {
    left: 100px !important;
    top: 390px !important;
}
#fun2500 {
    left: 100px !important;
    top: 650px !important;
}
#pack1data {
    left: 40px !important;
    top: 180px !important;
    font-size: 16px !important;
}
#pack2data {
    left: 40px !important;
    top: 430px !important;
    font-size: 16px !important;
}
#pack3data {
    left: 40px !important;
    top: 690px !important;
    font-size: 16px !important;
}
#pack1lower {
    left: 221px !important;
    top: 270px !important;
}
#gm {
    font-size: 12px !important;
    font-weight: bold !important;
}
#pack2lower {
    left: 221px !important;
    top: 518px !important;
}
#pack3lower {
    left: 221px !important;
    top: 775px !important;
}
}
@media screen and (min-width: 451px) and (max-width : 550px){
#fun500 {
    left: 40px !important;
    top: 130px !important;
    font-size: 20px !important;
}
#pack1data {
    left: 90px !important; 
    top: 165px !important;
    font-size: 14px;
    border-bottom: none !important;
    width: 300px;  
}

#fun1250 {
    left: 40px !important;
    top: 312px !important;
    font-size: 20px !important;
}
#pack2data {
    left: 90px !important; 
    top: 345px !important;
    font-size: 14px;
    border-bottom: none !important;
    width: 300px; 
}
#fun2500 {
    left: 40px !important;
    top: 498px !important;
    font-size: 20px !important;
}
#pack3data {
    left: 90px !important; 
    top: 530px !important;
    font-size: 14px;
    border-bottom: none !important;
    width: 300px; 
}
.im{
height: 180px !important;
width: 100% !important;
}
#i {
    padding-left: 0 !important;
}
#pack1lower,#pack2lower,#pack3lower{
    display: none;
}
}
@media screen and (min-width: 401px) and (max-width : 450px){
#fun500 {
    left: 40px !important;
    top: 130px !important;
    font-size: 20px !important;
}
#pack1data {
    left: 40px !important; 
    top: 165px !important;
    font-size: 12px;
    border-bottom: none !important;
    width: 300px;  
}

#fun1250 {
    left: 40px !important;
    top: 312px !important;
    font-size: 20px !important;
}
#pack2data {
    left: 40px !important; 
    top: 345px !important;
    font-size: 12px;
    border-bottom: none !important;
    width: 300px; 
}
#pack1lower,#pack2lower,#pack3lower{
    display: none;
}
#fun2500 {
    left: 40px !important;
    top: 498px !important;
    font-size: 20px !important;
}
#pack3data {
    left: 40px !important; 
    top: 530px !important;
    font-size: 12px;
    border-bottom: none !important;
    width: 300px; 
}
.im{
height: 180px !important;
}
}
@media screen and (min-width: 371px) and (max-width : 400px){
#fun500 {
    left: 40px !important;
    top: 128px !important;
    font-size: 20px !important;
}
#pack1data {
    left: 40px !important; 
    top: 160px !important;
    color: white;
    font-size: 12px;
    border-bottom: none !important; 
    width: 300px;
}
.im{
height: 180px !important;
}
#pack1lower,#pack2lower,#pack3lower{
    display: none;
}
#fun1250 {
    left: 40px !important;
    top: 308px !important;
    font-size: 20px !important;
}
#pack2data {
    left: 40px !important; 
    top: 342px !important;
    font-size: 12px;
    border-bottom: none !important;
    width: 300px; 
}
#fun2500 {
    left: 40px !important;
    top: 495px !important;
    font-size: 20px !important;
}
#pack3data {
    left: 40px !important; 
    top: 530px !important;
    font-size: 12px;
    border-bottom: none !important;
    width: 300px; 
}
}
@media screen and (min-width: 320px) and (max-width : 370px){
img.w3-image, .w3-image img {
    max-width: 115% !important;
}    
#fun500 {
    left: 40px !important;
    top: 128px !important;
    font-size: 20px !important;
}
#pack1data {
    left: 17px !important; 
    top: 160px !important;
    color: white;
    font-size: 12px;
    border-bottom: none !important; 
    width: 300px;
}
.im{
height: 180px !important;
}
#pack1lower,#pack2lower,#pack3lower{
    display: none;
}
#fun1250 {
    left: 40px !important;
    top: 308px !important;
    font-size: 20px !important;
}
#pack2data {
    left: 17px !important; 
    top: 342px !important;
    font-size: 12px;
    border-bottom: none !important;
    width: 300px; 
}
#fun2500 {
    left: 40px !important;
    top: 495px !important;
    font-size: 20px !important;
}
#pack3data {
    left: 17px !important; 
    top: 530px !important;
    font-size: 12px;
    border-bottom: none !important;
    width: 300px; 
}
}
