#map-canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    max-height: 100%;
}

#pac-input1, #range-input {
    background-color: #fff;
    padding: 7px 11px 7px 13px;
    width: 400px;
    max-width: 80%;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
}

#pac-input1:focus {
    border-color: #4d90fe;
    margin-left: 15px;
    padding-left: 14px;  /* Regular padding-left + 1. */
    width: 401px;
}

.pac-container {
    font-family: Roboto;
}

.pac-controls {
    margin-top: 16px;
    margin-left: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    padding: 10px 0px;
    height: auto !important;
}

#matchRangeLabel {
    background-color: white;
    margin-right: 16px;
    margin-bottom: 16px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
    padding: 5px;
}

#matchRange-input {
    text-align: right;
    width: 50px;
}

#latitude-input, #longitude-input {
    width: 100px;
}

input {
  margin: 0;
}