/**
 * Shortcodes
 * -------------------------------------
 */
.fcorn-shortcodes {
  font-family: "Source Sans Pro";
  width: 800px;
  margin: 0 auto;
  padding: 40px 25px;
  background: #fff;
  border: 1px solid #eee;
  letter-spacing: 1px;
  box-shadow: 0 0 2px rgba(60, 60, 60, 0.1);
}

  /** Tooltips
    ---------------------------
  **/
.fcorn-shortcodes .tooltips > label[class^="col-md"] {
  margin-bottom: 30px;
}
.fcorn-shortcodes .tooltips > label[class^="col-md"] > input {
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  font-weight: 100;
  color: #686868;
  border: 1px solid rgba(159, 159, 159, 0.2);
  box-shadow: 0 0 3px rgba(60, 60, 60, 0.05);
  position: relative;
}
.fcorn-shortcodes .tooltips > label[class^="col-md"] > input:focus {
  border: 1px solid #63c6ef;
  outline: none;
}
.fcorn-shortcodes .tooltips > label[class^="col-md"] .info {
  position: absolute;
  font-size: 11px;
  font-weight: normal;
  padding: 5px;
  color: #fff;
  display: inline-block;
  background: #828282;
  opacity: 0;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.fcorn-shortcodes .tooltips > label[class^="col-md"] .info:before {
  position: absolute;
  content: "";
  border-width: 5px;
  border-style: solid;
}
/** Left Tooltip **/
.fcorn-shortcodes .tooltips > label[class^="col-md"] .info.left {
  left: -150px;
  top: 7px;
}
.fcorn-shortcodes .tooltips > label[class^="col-md"] .info.left:before {
  top: 7px;
  right: -9px;
  border-color: transparent transparent transparent #828282;
}
/* Right Tooltip */
.fcorn-shortcodes .tooltips > label[class^="col-md"] .info.right {
  right: -150px;
  top: 7px;
}
.fcorn-shortcodes .tooltips > label[class^="col-md"] .info.right:before {
  top: 7px;
  left: -9px;
  border-color: transparent #828282 transparent transparent;
}
/** Top Tooltip **/
.fcorn-shortcodes .tooltips > label[class^="col-md"] .info.top {
  top: -50px;
  left: 15px;
}
.fcorn-shortcodes .tooltips > label[class^="col-md"] .info.top:before {
  top: 25px;
  left: 20px;
  border-color: #828282 transparent transparent transparent;
}
/* Bottom Tooltip */
.fcorn-shortcodes .tooltips > label[class^="col-md"] .info.bottom {
  bottom: -50px;
  right: 15px;
}
.fcorn-shortcodes .tooltips > label[class^="col-md"] .info.bottom:before {
  bottom: 25px;
  right: 20px;
  border-color: transparent transparent #828282 transparent;
}
.fcorn-shortcodes .tooltips > label[class^="col-md"] > input:focus + .info {
  opacity: 1;
}
/* Show on focus (left)*/
.fcorn-shortcodes .tooltips > label[class^="col-md"] > input:focus + .info.left {
  left: -128px;
}
/* Show on focus (right)*/
.fcorn-shortcodes .tooltips > label[class^="col-md"] > input:focus + .info.right {
  right: -128px;
}
/* Show on focus (top)*/
.fcorn-shortcodes .tooltips > label[class^="col-md"] > input:focus + .info.top {
  top: -30px;
}
/* Show on focus (bottom)*/
.fcorn-shortcodes .tooltips > label[class^="col-md"] > input:focus + .info.bottom {
  bottom: -30px;
}



/** Checkbox Toggle and Radio Toggle Btns
  -----------------------------------
**/
.fcorn-shortcodes .toggle,
.fcorn-shortcodes .radio-toggle {
  position: relative;
  margin-bottom: 30px;
}
.fcorn-shortcodes .toggle > .info,
.fcorn-shortcodes .radio-toggle > .info {
  font-size: 13px;
  margin-left: 10px;
}
.fcorn-shortcodes .toggle > label.toggle-label,
.fcorn-shortcodes .radio-toggle > label.toggle-label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
  display: inline-block;
  background: #4cbeed;
  width: 60px;
  height: 24px;
  float: left;
  position: relative;
  font-size: 10px;
  color: #fff;
}
.fcorn-shortcodes .toggle > label.toggle-label > input.toggle-input,
.fcorn-shortcodes .radio-toggle > label.toggle-label > input.toggle-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
  /** this is for labeling of on/off text **/
.fcorn-shortcodes .toggle > label.toggle-label:before,
.fcorn-shortcodes .radio-toggle > label.toggle-label:before,
.fcorn-shortcodes .toggle > label.toggle-label:after,
.fcorn-shortcodes .radio-toggle > label.toggle-label:after {
  position: absolute;
  top: 30%;
  line-height: 1.1;
  font-weight: 100;
}
.fcorn-shortcodes .toggle > label.toggle-label:before,
.fcorn-shortcodes .radio-toggle > label.toggle-label:before {
  content: attr(data-on);
  left: 7px;
}
.fcorn-shortcodes .toggle > label.toggle-label:after,
.fcorn-shortcodes .radio-toggle > label.toggle-label:after {
  content: attr(data-off);
  right: 7px;
}
  /** handle switch **/
.fcorn-shortcodes .toggle > label.toggle-label .toggle-handle,
.fcorn-shortcodes .radio-toggle > label.toggle-label .toggle-handle {
  position: absolute;
  background: #fff;
  left: 0;
  top: 0;
  border: 1px solid #4cbeed;
  display: inline-block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  box-shadow: inset 0 0 5px rgba(50, 50, 50, 0.1);
  width: 50%;
  height: inherit;
}
.fcorn-shortcodes .toggle > label.toggle-label > input.toggle-input:checked ~ .toggle-handle,
.fcorn-shortcodes .radio-toggle > label.toggle-label > input.toggle-input:checked ~ .toggle-handle {
  left: 30px;
}
.fcorn-shortcodes .radio-toggle > label.toggle-label,
.fcorn-shortcodes .radio-toggle > label.toggle-label .toggle-handle {
  border-radius: 20px;
}


/** Custom Checkbox and Radio Btns
  -----------------------------------
**/
.fcorn-shortcodes .custom-check,
.fcorn-shortcodes .custom-radio {
  position: relative;
}
.fcorn-shortcodes .custom-check > label.check-label,
.fcorn-shortcodes .custom-radio > label.check-label,
.fcorn-shortcodes .custom-check > label.radio-label,
.fcorn-shortcodes .custom-radio > label.radio-label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
  display: inline-block;
  float: left;
  margin-left: 25px;
  white-space: normal;
  line-height: 1.85;
  top: 2px;
  font-weight: normal;
  position: relative;
  font-size: 13px;
}
.fcorn-shortcodes .custom-check > label.check-label > input.check-input,
.fcorn-shortcodes .custom-radio > label.check-label > input.check-input,
.fcorn-shortcodes .custom-check > label.radio-label > input.check-input,
.fcorn-shortcodes .custom-radio > label.radio-label > input.check-input,
.fcorn-shortcodes .custom-check > label.check-label > input.radio-input,
.fcorn-shortcodes .custom-radio > label.check-label > input.radio-input,
.fcorn-shortcodes .custom-check > label.radio-label > input.radio-input,
.fcorn-shortcodes .custom-radio > label.radio-label > input.radio-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.fcorn-shortcodes .custom-check > label.check-label:before,
.fcorn-shortcodes .custom-radio > label.check-label:before,
.fcorn-shortcodes .custom-check > label.radio-label:before,
.fcorn-shortcodes .custom-radio > label.radio-label:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 16px;
  left: -24px;
  top: 4px;
  border: 1px solid #4cbeed;
}
.fcorn-shortcodes .custom-check > label.check-label .info,
.fcorn-shortcodes .custom-radio > label.check-label .info,
.fcorn-shortcodes .custom-check > label.radio-label .info,
.fcorn-shortcodes .custom-radio > label.radio-label .info {
  position: relative;
}
.fcorn-shortcodes .custom-check > label.radio-label:before,
.fcorn-shortcodes .custom-radio > label.radio-label:before {
  border-radius: 50%;
}
.fcorn-shortcodes .custom-check input.check-input:checked + .info:before,
.fcorn-shortcodes .custom-radio input.check-input:checked + .info:before,
.fcorn-shortcodes .custom-check input.radio-input:checked + .info:before,
.fcorn-shortcodes .custom-radio input.radio-input:checked + .info:before {
  content: "J";
  font-family: "entypo";
  position: absolute;
  color: #4cbeed;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  left: -22px;
  top: 2px;
}
.fcorn-shortcodes .custom-check input.radio-input:checked + .info:before,
.fcorn-shortcodes .custom-radio input.radio-input:checked + .info:before {
  content: "3";
  font-size: 32px;
  top: -8px;
  left: -32px;
}




/** Input Btns - normal, hover, active
  ----------------------------------
**/
.input-btn {
  text-align: center;
  margin-bottom: 30px;
}
.input-btn input {
  border: none;
  width: 200px;
  color: #fff;
  padding: 10px 15px;
  text-align: center;
  letter-spacing: 1px;
  box-shadow: 0 1px 1px #1daae3;
}
.input-btn input:hover,
.input-btn input:active,
.input-btn input:focus {
  border: none;
  outline: none;
}
.input-btn input.normal {
  background: #43bbec;
}
.input-btn input.hover {
  background: #1eade8;
}
.input-btn input.active {
  background: #43bbec;
  box-shadow: inset 0 0 15px #1a99cd;
  -webkit-transform: translate(0, 1px);
  -ms-transform: translate(0, 1px);
  transform: translate(0, 1px);
}
.file-input {
  position: relative;
  margin-bottom: 30px;
}
.file-input > label > .btn {
  font-weight: normal;
  padding: 9px 15px;
  position: absolute;
  z-index: 999;
  background: #4cbeed;
  top: 18px;
  color: #fff;
}


/** File Inputs
  ----------------------------------
**/
.file-input > label > .btn > input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 0;
}
.file-input > input.file-replacer {
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  font-weight: 100;
  color: #686868;
  border: 1px solid rgba(159, 159, 159, 0.2);
  box-shadow: 0 0 3px rgba(60, 60, 60, 0.05);
}
.file-input > input.file-replacer:focus {
  outline: none;
}
.file-input > label > .btn.left {
  left: 17px;
}
.file-input > input.file-replacer.left {
  padding-left: 128px;
}
.file-input > label > .btn.right {
  right: 17px;
}




/** Notification Box
  ----------------------------------
**/
.fcorn-shortcodes .notify {
  /** Common **/
  margin-bottom: 30px;
}
.fcorn-shortcodes .notify .info,
.fcorn-shortcodes .notify .warning,
.fcorn-shortcodes .notify .success,
.fcorn-shortcodes .notify .error {
  border: 1px solid;
  padding: 10px 15px;
  position: relative;
  color: #fff;
}
.fcorn-shortcodes .notify .info > .msg:before,
.fcorn-shortcodes .notify .warning > .msg:before,
.fcorn-shortcodes .notify .success > .msg:before,
.fcorn-shortcodes .notify .error > .msg:before {
  line-height: 1.428571429;
  padding-right: 15px;
  position: relative;
  top: 2px;
}
.fcorn-shortcodes .notify .info > .cancel,
.fcorn-shortcodes .notify .warning > .cancel,
.fcorn-shortcodes .notify .success > .cancel,
.fcorn-shortcodes .notify .error > .cancel {
  cursor: pointer;
}
.fcorn-shortcodes .notify .info > .cancel:before,
.fcorn-shortcodes .notify .warning > .cancel:before,
.fcorn-shortcodes .notify .success > .cancel:before,
.fcorn-shortcodes .notify .error > .cancel:before {
  position: absolute;
  right: 10px;
  font-size: 18px;
  line-height: 1.428571429;
}
.fcorn-shortcodes .notify .info {
  background: #b5b5b5;
}
.fcorn-shortcodes .notify .warning {
  background: #efce17;
}
.fcorn-shortcodes .notify .success {
  background: #25c872;
}
.fcorn-shortcodes .notify .error {
  background: #fa6573;
}



/** Search Box
  ----------------------------------
**/
.fcorn-shortcodes .search-box {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}
.fcorn-shortcodes .search-box > input.search {
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  font-weight: 100;
  color: #686868;
  border: 1px solid rgba(159, 159, 159, 0.2);
  box-shadow: 0 0 3px rgba(60, 60, 60, 0.05);
  position: relative;
  overflow: hidden;
}
.fcorn-shortcodes .search-box > input.search:focus {
  border: 1px solid #63c6ef;
  outline: none;
}
.fcorn-shortcodes .search-box > .btn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  display: block;
}
.fcorn-shortcodes .search-box > .btn:before {
  position: relative;
  right: -35px;
  color: #fff;
  font-size: 20px;
}
.fcorn-shortcodes .search-box > .btn > input {
  display: inline-block;
  padding: 11px 25px;
  border: none;
  background: #4cbeed;
}
.fcorn-shortcodes .search-box > .btn > input:focus {
  border: none;
  outline: none;
}
.fcorn-shortcodes .search-box > .btn > input:hover {
  background: #39b7eb;
}




/** Star Rating
  ----------------------------------
**/
.fcorn-shortcodes .ratings > input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.fcorn-shortcodes .ratings > label.rating-star {
  cursor: pointer;
  float: right;
  left: -100px;
  color: #828282;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.fcorn-shortcodes .ratings > label.rating-star:before {
  font-size: 30px;
  line-height: 1.428571429;
}
.fcorn-shortcodes .ratings > input[type="radio"]:hover ~ label,
.fcorn-shortcodes .ratings > input[type="radio"]:checked ~ label {
  color: #4cbeed;
}



/** Subscribe Box
  ----------------------------------
**/

.fcorn-shortcodes .subscribe-box {
  margin-bottom: 30px;
  position: relative;
  background: #fff;
  border: 1px solid #eee;
  letter-spacing: 1px;
  box-shadow: 0 0 2px rgba(60, 60, 60, 0.1);
}
.fcorn-shortcodes .subscribe-box > .head {
  padding: 10px 15px;
  margin: 0;
  background: #4cbeed;
  color: #fff;
  margin-bottom: 30px;
}
.fcorn-shortcodes .subscribe-box > .email {
  width: 100%;
  display: block;
  position: relative;
}
.fcorn-shortcodes .subscribe-box > .email:before {
  position: absolute;
  line-height: 1.428571429;
  color: #4cbeed;
  right: 45px;
  top: 10px;
  font-size: 18px;
  z-index: 999;
}
.fcorn-shortcodes .subscribe-box > .email > input {
  display: block;
  width: 85%;
  padding: 10px 15px;
  font-weight: 100;
  color: #686868;
  border: 1px solid rgba(159, 159, 159, 0.2);
  box-shadow: 0 0 3px rgba(60, 60, 60, 0.05);
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
}
.fcorn-shortcodes .subscribe-box > .email > input:focus {
  border: 1px solid #63c6ef;
  outline: none;
}
.fcorn-shortcodes .subscribe-box > .submit-btn {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}
.fcorn-shortcodes .subscribe-box > .submit-btn > input {
  width: 85%;
  margin: 0 auto;
  display: block;
  color: #fff;
  border: none;
  background: #4cbeed;
  padding: 8px 15px;
  text-align: center;
  box-shadow: 0 1px 1px #1788b6;
}
.fcorn-shortcodes .subscribe-box > .submit-btn > input:focus {
  border: none;
  outline: none;
}
.fcorn-shortcodes .subscribe-box > .submit-btn > input:hover {
  background: #39b7eb;
}
.fcorn-shortcodes .subscribe-box > .submit-btn > input:active {
  box-shadow: inset 0 0 10px #1daae3;
  -webkit-transform: translate(0, 1px);
  -ms-transform: translate(0, 1px);
  transform: translate(0, 1px);
}
/** End Shortcodes **/
